@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 150%) {
  .hide-on-zoom {
    display: none;
  }
}

@media (-moz-device-pixel-ratio: 1.5) { /* Firefox */
  .hide-on-zoom {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (transform-origin) { /* Safari & Chrome (older) */
  .hide-on-zoom {
    display: none;
  }
}
